
.container{
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.Image_Container{
    width: 70%;
    display: flex;
    flex-direction: row;
}
.Image{
    width: 90%;
    justify-items: space-around;
    padding-right: 30px;
}
.Image_font{
   font-size: 18px;
   font-weight: 500;
   font-family: 'Rubik', sans-serif;
}